<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Yvette Smith</h1>
        <p> <a href="/griddemo">Yvette Smith</a> Writer of Gingersnap Weekly  </p>
        <p> She has a pet Gecko</p>

    </div>

    <div class="container">

      <div class="row">
        <div class="col-sm-4">
          <img src="images/miso.jpg" width="100%">
        </div>
        <div class="col-sm-4">
          <img src="images/miso1.jpg" width="100%">
        </div>
        <div class="col-sm-4">
          <img src="images/miso2.jpg" width="100%">
        </div>
      </div>

      <div class="row">
        <div class="col-md-auto">This is a some more text, see...</div>
        <div class="col-md-3">
        </div>
        <div class="col"></div>
        <div class="col-md-3">
          <img src="images/cat.jpg" width="100%">
        </div>
      </div>

    </div>

<%- include('bootfooter') -%>
