<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Gingersnap Weekly</h1>
        <p>Weekly Global Reports From a College Redhead </p>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <img src="images/gin.jpg" width="100%" class="thumbnail">
      </div>
      <div class="col-sm-4">
        <h3>Yvette Smith</h3>
        <ul>
        <li>Writer <a href="/griddemo">Yvette Smith</a> is a Senior Student in Brandeis University.</li>
        <li>Majoring in Economics.</li>
        <li>Mom to a month old Leopard Gecko Miso.</li>


      </ul>
      </div>
      <div class="col-sm-3">    
        <img src="https://www.brandeis.edu/communications/creative/downloads/bauer-bodoni-wordmark-blue.jpg" width="70%">
        <img src="images/branlogo.jpg" width="70%">

      </div>
  </div>

  <br>
    <ul>
      <!-- <li><a href="/griddemo">Demo of Bootstrap Grid system</a></li> -->
      <li><a href="/myform">Leave a comment, tell me what u think! </a></li>

    </ul>

<%- include('bootfooter') -%>
