._495i{padding:11px 10px 10px}
.uiIconText{display:inline-block;padding-left:21px;position:relative}label.uiIconText{vertical-align:baseline}.uiIconText .img{left:0;position:absolute;top:-1px;vertical-align:middle}

#bootloader_IbrOh{height:42px;}.bootloader_IbrOh{display:block!important;}