._j4g{display:inline-block;text-align:center;width:100%}
.sp_V3-mCzTTWtZ_2x{background-image:url(/rsrc.php/v3/yx/r/pjME9EzRrp_.png);background-size:25px 42px;background-repeat:no-repeat;display:inline-block;height:24px;width:24px}.sp_V3-mCzTTWtZ_2x.sx_2b9d05{width:16px;height:16px;background-position:0 -25px}.sp_V3-mCzTTWtZ_2x.sx_b23060{background-position:0 0}

#bootloader_6QN6d{height:42px;}.bootloader_6QN6d{display:block!important;}